<!DOCTYPE html>
<html lang="en">

<head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quizard &#129668;</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Castoro&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/.css' %}">
</head>

<body>
    
    <div id="wrapper" style="max-width: 1000px; margin: 20px auto;">

    <!-- SPACE FOR NAVBAR -->
    <nav class="navbar" style="border-bottom: 1px solid black; margin-bottom: 10px;">

        <!-- LEFT SIDE OF NAVBAR -->
        <div class="navbar-brand">
                <!-- REPLACE THIS WITH LOGO AFTER MAKING -->
                <p class="title is-2 is-align-self-center"><a href="/quizard">Quizard</a></p>

                <!-- BURGER MENU -->
                <a role="button" class="navbar-burger is-align-self-center" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>

        <!-- LEFT SIDE OF NAVBAR END -->
        </div>

        <!-- RIGHT SIDE OF NAVBAR -->
        <div class="navbar-menu navbar-end">

            <!-- USER -->
            <a href="/quizard/user/{{user.username}}" class="navbar-item">
                {{user.username}}
            </a>

            <!-- NAVBAR LINKS -->
            <a href="/quizard" class="navbar-item">
                Dashboard
            </a>
            
            <a href="/quizard/quizzes/new" class="navbar-item">
                Create
            </a>

            <a href="/quizard/user/{{user.username}}/quizzes" class="navbar-item">
                Your Quizzes
            </a>


            <!-- LOGOUT -->
            <div class="navbar-item">
                <form action="/logout" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="LOGOUT" class="button">
                </form>
            </div>


        <!-- END RIGHT SIDE OF NAV -->
        </div>

    </nav>
    <!-- END SPACE FOR NAVBAR -->
    
    <form action="/quizard/quizzes/create" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <!-- QUIZ NAME AND CATEGORY -->
        <div class="field is-grouped">
        
            <div class="field">
                <label for="quiz_name" class="label">Quiz Name</label>
                <input type="text" placeholder="Quiz Name" class="input" name="quiz_name">
            </div>
            <div class="field">
                <label for="category" class="label">Category</label>
                <select name="category" class="select">
                    <option value="-" selected>--</option>
                    {% for choice in category_choices %}
                        <option value="{{choice.0}}">{{choice.1}}</option>
                    {% endfor %}
                </select>
            </div>

        </div>

        <!-- QUIZ DESCRIPTION -->
        <div class="field">
            <label for="description" class="label">Description</label>
            <textarea name="description" placeholder="OPTIONAL" class="textarea"></textarea>
        </div>

        <p class="title is-6">QUESTIONS</p>

        <div id="questions" style="padding: 10px; max-height: 800px; overflow: scroll;">
            {% for i in range %}
                <div class="field is-grouped is-justify-content-space-between is-align-items-center">
                    <!-- ENTRY -->
                    <div class="field control is-expanded">
                        <label for="entry{{forloop.counter}}" class="label">Question {{forloop.counter}}</label>
                        <input type="text" class="input" placeholder="Question #{{forloop.counter}}" name="entry{{forloop.counter}}">
                    </div>

                    <!-- ENTRY IMAGE -->
                    <div class="field">
                        <label for="image{{forloop.counter}}" class="label">Add Image?</label>
                        <input type="file" name="image{{forloop.counter}}" class="file">
                    </div>

                    <!-- ANSWER -->
                    <div class="field">
                        <label for="answer{{forloop.counter}}" class="label">Answer {{forloop.counter}}</label>
                        <input type="text" class="input" placeholder="Answer #{{forloop.counter}}" name="answer{{forloop.counter}}">
                    </div>

                </div>
            {% endfor %}
        
        <!-- END QUESTIONS DIV -->
        </div>



        <input type="submit" value="Create Quiz" class="button">
    </form>






    <!-- END WRAPPER DIV -->
    </div>
</body>