<!DOCTYPE html>
<html lang="en">

<head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quizard &#129668;</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Castoro&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
</head>

<body>
    <div id="wrapper">

        <!-- SPACE FOR NAVBAR -->
        <nav class="navbar">

            <!-- LEFT SIDE OF NAVBAR -->
            <div class="navbar-brand">
                <!-- REPLACE THIS WITH LOGO AFTER MAKING -->
                <p class="title is-2 is-align-self-center" id="quizard"><img src="{% static 'pictures/Quizard.gif' %}" id="quizard"/></p>

                <!-- BURGER MENU -->
                <a role="button" class="navbar-burger is-align-self-center" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>

                <!-- LEFT SIDE OF NAVBAR END -->
            </div>

            <!-- RIGHT SIDE OF NAVBAR -->
            <div class="navbar-menu navbar-end">

                <!-- USER -->
                <img src="/media/{{this_user.profile_photo}}" alt="{{this_user.username}}_photo" id="user-picture">

                <a href="/quizard/user/{{user.username}}" class="navbar-item">
                    {{user.username}}
                </a>

                <!-- NAVBAR LINKS-->
                <a href="/quizard" class="navbar-item">
                    Dashboard
                </a>

                <a href="/quizard/quizzes/new" class="navbar-item">
                    Create
                </a>

                <!-- QUIZZES DROPDOWN-->
                <div class="navbar-item has-dropdown is-hoverable">

                    <!-- QUIZZES MAIN LINK -->
                    <a href="/quizard/user/{{user.username}}/quizzes" class="navbar-link">
                        Quizzes
                    </a>

                    <!-- QUIZZES DROPDOWN ITEMS -->
                    <div class="navbar-dropdown">

                        <!-- YOUR QUIZZES -->
                        <a href="/quizard/user/{{user.username}}/quizzes" class="navbar-item1">
                            Your Quizzes
                        </a>

                        <hr class="navbar-divider">

                        <!-- QUIZZES YOU LIKE -->
                        <a href="#" class="navbar-item1">
                            Quizzes You Like
                        </a>

                        <!-- END QUIZZES DROPDOWN MENU -->
                    </div>
                    <!-- END QUIZZES ITEM -->
                </div>

                <!-- LOGOUT -->
                <div class="navbar-item">
                    <form action="/logout" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="LOGOUT" class="button">
                    </form>
                </div>


                <!-- END RIGHT SIDE OF NAV -->
            </div>

        </nav>
        <!-- END SPACE FOR NAVBAR -->



        <img src="/media/{{this_user.profile_photo}}" id="user-pic1" alt="{{this_user.username}}_photo">
        <!-- <p>{{this_user.username}}</p> -->
        <p>{{this_user.first_name}}{{this_user.last_name}}</p>


        <h4>Quizzes Taken</h4>
        <p>{{this_user.quizzes_taken.count}}</p>
        <p>
            <!--if current user is the creator of this page, then he can update a user profile_photo here-->
            {% if this_user.id == request.session.user_id %}
        <h5>Upload a user photo here</h5>
        <form action="/quizard/user/{{this_user.username}}/update" method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <input type="file" name="user_img">
            </div>
            <div class="mb-3">
                <input type="submit" value="update" type="button" class="button is-info">
                <a href="/quizard/user/{{this_user.username}}" type="button" class="button is-info">Cancel</a> <a class="button is-info"
                    href="/quizard/user/{{this_user.username}}/destroy">Delete Account</a>
            </div>
        </form>
        {% endif %}

        <h2>Quizzes {{this_user.first_name}}{{thiis_user.last_name}}'s Taken: </h2>
        <table class="table  is-fullwidth is-hoverable">
            <thead>
                <th>Quiz Title</th>
                <th>Category</th>
                <th>Times Taken</th>
                <th>Take Quiz</th>
            </thead>
            <tbody>
                {% for quiz in quizzes_taken reversed %}
                <tr>
                    <td>{{quiz.name}} </td>
                    <td>{{quiz.get_category_display}}</td>
                    <td>{{quiz.taken_by.count}}</td>
                    <td><a href="/quizard/quizzes/{{quiz.id}}/take_quiz">Take this quiz</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Quizzes Created By {{this_user.first_name}}{{thiis_user.last_name}}:</h2>


        <table class="table  is-fullwidth is-hoverable">
            <thead>
                <th>Quiz Title</th>
                <th>Category</th>
                <th>Times Taken</th>
                <th>Take Quiz</th>
            </thead>
            <tbody>
                {% for quiz in created_quizzes.all reversed %}
                <tr>
                    <td>{{quiz.name}} </td>
                    <td>{{quiz.get_category_display}}</td>
                    <td>{{quiz.taken_by.count}}</td>
                    <td><a href="/quizard/quizzes/{{quiz.id}}/take_quiz">Take this quiz</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>



        <h2>{{this_user.first_name}}'s Favorite Quizzes:</h2>
        <table class="table  is-fullwidth is-hoverable">
            <thead>
                <th>Quiz Title</th>
                <th>Category</th>
                <th>Times Taken</th>
                <th>Take Quiz</th>
            </thead>
            <tbody>
                {% for quiz in liked_quizzes.all reversed %}
                <tr>
                    <td>{{quiz.name}} </td>
                    <td>{{quiz.get_category_display}}</td>
                    <td>{{quiz.taken_by.count}}</td>
                    <td><a href="/quizard/quizzes/{{quiz.id}}/take_quiz">Take this quiz</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</body>

</html>