* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inconsolata', monospace;
}

body{
    background:url(https://i.imgur.com/CwBxkGK.png);
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height:100%;
    display:block;
}

#wrapper {
    width: 80%;
    margin: auto;
    padding:10px;
}

.navbar{
    background-color: transparent;
    border-bottom: 1px solid rgb(255, 255, 255); 
    margin-bottom:10px;
}

#quizard{
    height:100px;
}

#user-pic1{
    height:150px;
    width: 150px;
    border-radius:50%;
    display:inline;
}

.navbar-item, .navbar-link{
    color:white;
    font-size:20px;
    transition: all 0.3s ease-out;
}

.navbar-item1{
    color: black;
}

.navbar-link{
    background: transparent;
}

.button{
    border-style:none;
    background-color:rgb(255, 255, 255);
    font-family: 'Inconsolata', monospace;
    color:rgb(0, 0, 0);
    font-weight: bolder;
    transition: 350ms;
}

.button:hover{
    background-color:rgb(2, 2, 2);
    color:rgb(255, 255, 255);
    filter: drop-shadow(0.25rem 0 0.85rem rgb(255, 255, 255));
}

.user-information{
    text-align: center;
    background: url(https://i.imgur.com/ChpMnxD.png);
    background-color: rgb(46, 46, 46);
    padding:10px;
    border: 2px solid rgb(118, 118, 118);
    margin-bottom:20px;
}

#update-buttons, #delete-button{
    background-color: rgb(91, 91, 91);
    color:white;
}

#update-buttons:hover{
    color:black;
    background-color:rgb(255, 255, 255);
}

#delete-button:hover{
    background-color: rgb(255, 1, 1);
}

table{
    margin-top:2px;
}

th{
    background: black;
}

tr{
    font-weight:bolder;
}

h1{
    color:white;
    font-size:20px;
    font-weight:bolder;
    margin-top:15px;
}

h2{
    font-weight:bolder;
    color:white;
}

span{
    text-transform: uppercase;
    display:block;
    color:white;
    font-size:35px;
    font-family:'cabin';
}

p, h4, h5{
    color:white;
    font-weight:bolder;
}

#image-upload{
    margin-left:100px;
    padding:10px;
    background-color:transparent;
    color:white;
}
.quiz-title{
    text-transform: uppercase;
}